<div class="center">
  <button (click)="showNewMemberForm()" *ngIf="newMemberButton">Add New Member</button>
</div>

<div class="form-body" *ngIf="newMemberForm">
  <h2>
    NEW MEMBER FORM
  </h2>
  <label>Member Name:</label>
  <br>
  <input #newName>
  <br>
  <label>Member Role:</label>
  <br>
  <input #newRole>
  <br>
  <label>Join Date:</label>
  <br>
  <input #newJoinDate type="date">
  <br>
  <label>Age:</label>
  <br>
  <input #newAge type="number">
  <br>
  <label>Hometown:</label>
  <br>
  <input #newHometown>
  <br>
  <label>Bio:</label>
  <br>
  <textarea #newBio></textarea>
  <br>
  <label>Fastest Time (seconds - optional):</label>
  <br>
  <input #newFastestTime>
  <br>
  <label>Awards (optional):</label>
  <br>
  <input #newAwards>
  <br>
  <br>
  <button (click)="submitForm(newName.value, newRole.value, newJoinDate.value, newAge.value, newHometown.value,  newBio.value, newFastestTime.value, newAwards.value)">Add</button>
</div>
